/* Define the ManifaPro2 font family with all its variations */
body{
  /* font-family: "ManifaPro2 Regular"; */
  /* font-family: 'ManifaPro2', sans-serif; */
  letter-spacing: 0.05em;
}


@font-face {
  font-family: 'ManifaPro2';
  src: url('./font//pro//ManifaPro2_2.224-Bold.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-BoldHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-BoldItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-Hefty.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-HeftyHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-HeftyItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-Light.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-LightHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-LightItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-Regular.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-RegularHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-RegularItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-SemiBold.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-SemiBoldHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-SemiBoldItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-Thin.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-ThinHiddenTashkeel.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224-ThinItalic.otf') format('opentype');
  src: url('./font/pro/ManifaPro2_2.224\ Variable.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Ghawar';
  src: url('./font/ghawar/Ghawar_1.311-Black.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Black\ Italic.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Bold.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Bold\ Italic.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Hairline.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Hairline\ Italic.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Heavy.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Heavy\ Italic.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Hefty.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Hefty\ Italic.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Light.otf') format('opentype');
  src: url('./font/ghawar/Ghawar_1.311-Light\ Italic.otf') format('opentype');
  font-display: swap;
}
.font-section-one{
  font-family: 'Ghawar', sans-serif;
  font-display: swap;
}


/* scroll time set rangebar  */


.scroll-line {
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 100%);
  top: 0;
  left: 0;
  height: 4px;
  position: fixed;
  z-index: 99;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}
/* scroll time set rangebar  */

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  scrollbar-width: none; 
  scroll-behavior: smooth;
}


/* hover card css  */
/* card hover animation  */


#seventhSecCard .seventSecChild {
  transition: margin-top 0.3s ease, height 0.3s ease;

}

#seventhSecCard:hover .seventSecChild {
  margin-top: -2rem;
  height: 250px;
}
/* hover card css  */

/* text hover underline  */
/* text under line animation  */

.underline-animation {
  position: relative;
  display: inline-block;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #007FA2;
  transition: width 0.9s ease;
}
.underline-animation:hover::after {
  width: 100%;
}
/* text hover underline  */



/* right Arrow section  */
#arrowanimaiton:hover .arrow-second {
  transform: translateX(110%);
}

#arrowanimaiton:hover .arrow-first {
  transform: translateX(4%);
}
/* right Arrow section  */



/* text hover image animation  */
/* .image-container {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

.text-container {
  text-align: center;
  padding: 20px;
}

.hidden-image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-out, top 3s ease-out;
  max-width: 100%;
  max-height: 100%;
}

.text-container:hover + .hidden-image {
  top: 0%;
  opacity: 1;
  margin-top: -60px;
} */

.image-container {
  position: relative;
}

.text-container {
  text-align: center;
  padding: 20px;
}

.hidden-image {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.translate-y-full {
  transform: translate(-50%, 100%);
}

.translate-y-0 {
  transform: translate(-50%, 0);
}
/* text hover image animation  */


/* hover display image  */
/* card pop up animation  */
#text-to-hover{
  margin-top: 10rem;
  transition: margin-top 0.6s ease;
}
#text-to-hover:hover{
  margin-top: 0;
}
#text-to-hover .text-part-to-hide {
  height:0;
  overflow: hidden;
  transition: margin-top 0.6s ease, height 0.6s ease;
}
#text-to-hover:hover .text-part-to-hide {
  height: 10rem;
}
/* hover display image  */

/* video scroll animation  */
/* Before animation */
[data-aos="my-animation"] {
  transform: scaleX(0.85) scaleY(0.9); /* Adjusted for maintaining aspect ratio */
  transition-property: transform;

}

/* After animation */
[data-aos="my-animation"].aos-animate {
  transform: scaleX(1) scaleY(1); /* Adjusted for maintaining aspect ratio */
}
/* video scroll animation  */


/* fade click time about animaiton  */
.fade-animation {
  opacity: 0;
  animation: fadeInFromLeft 0.3s ease-in-out forwards;
  transform: translate3d(-50px, 0, 0);
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-animation-top-bottom {
  opacity: 0;
  animation: fadeInFromTop 0.5s ease-in-out forwards;
  transform: translate3d(0, -50px, 0);
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .................  */
/* .fadeInAbout {
  opacity: 0;
 transform: translate3d(-50px, 0, 0);

  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.fadeInAbout:hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */

/* fade click time about animaiton  */


/* time Range bar in banner page slide time change range bar...................  */

/* time Range bar in banner page slide time change range bar...................  */

